header{
    /* background-color: antiquewhite; */
    height: 16%;
    border-bottom: 1px solid black;
    border-width: 2px;
}

#nav_bar{
    display: flex;
}

#logo_img{
    height: 80px;
    margin: 20px;
    margin-top: 5px; 
}

#add_emp_btn{
    margin: auto;
    margin-top: 20px;
    margin-right: 60px;
    padding: 10px;
    height: 40px;
    background-color: rgb(25, 143, 173);
    border-radius: 10px;
    border-color: rgb(12, 52, 78);
    color: white;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#add_emp_btn:hover{
    background-color: white;
    color: rgb(12, 78, 78);
}

#content_div{
    height: 80%;
    display: flex;
}

#side_bar_div{
    width: 27%;
    height: 100%;
}

#search_div{
    background-color: rgb(230, 225, 219);
    padding: 5px;
    border-radius: 8px;
}

#search_Inp{
    background-color: transparent;
    border: none;
    font-style: italic;
    font-weight: bold;
}

#search_Inp:focus{
    outline: none;
}

#search_btn{
    border: none;
    background-color: transparent;
}

#search_filter_div{
    display: flex;
    margin: 5px;
    margin-left: 10px;
    align-items: center;
}

#search_filter_div div{
    margin: 2px;
}

#asc_btn{
    margin-right: 2px;
}

#emp_list_div{
    overflow-y: scroll; 
    height:90%;
}

#side_bar_div ul{
    list-style: none;
    margin: auto;
}

#side_bar_div ul li{
    display: flex;
    background-color: darkcyan;
    margin: 3px;
    margin-left: -30px;
    border: 2px solid white;
    border-radius: 30px;
    padding: 20px;
    color: white;
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#side_bar_div ul li:hover{
    background-color: white;
    color: darkcyan;
    border-width: 3px;
    border: 2px solid darkcyan;
}

#listItem_name{
    width: 90%;
}

#menu_btn{
    margin-left: 70px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: x-large;
    color: rgb(168, 168, 168);
}

#menu_btn:hover{
    color: darkcyan;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    font-size: small;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
  
.show {display:block;}

#main_content_div{
    margin-top: 6px;
    background-color:rgb(191, 201, 201);
    width: 100%;
    height: 100%;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}

#tblDiv{
    height: 50%;
}

#table{
    margin: auto;
    text-align: center;
}

#table thead{
    background-color: rgb(3, 95, 95);
    color: white;
}

#table td{
    width: 100px;
}

#main_pagination_div{
    display: inline-flex;
    margin-top: auto;
    width: fit-content;
}

#drop_down_lbl{
    margin: 10px;
    margin-right: 0px;
}

#mySelect{
    margin: 10px;
    margin-left: 2px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#display_records_by_pages{
    margin: auto;
}

#prev_btn{
    margin: 5px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
}

#prev_btn:hover{
    color: darkcyan;
    background-color: white;
}

#prev_btn:disabled{
    background-color: rgb(165, 163, 163);
    color: white;
}

#next_btn{
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: darkcyan;
    color: white;
}

#next_btn:hover{
    color: darkcyan;
    background-color: white;
}

#next_btn:disabled{
    background-color: rgb(165, 163, 163);
    color: white;
}

#form_div{
    border: 2px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px;
    width: fit-content;
    height: fit-content;
    align-items: center;
    border-radius: 10px;
    margin-left: 33%;
    margin-top: 3%;
}

#form_div h1{
    padding: 8px;
    background-color: navy;
    color: white;
}

#form_div div{
    margin: 10px;
}

#form_div label{
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#form_div input{
    padding: 5px;
    border-width: 1px;
    border-radius: 3px;
}

#form_div button{
    margin: 5px;
    height: 35px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid black;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#submit_btn{
    background-color: rgb(38, 223, 38);
    border-color: darkgreen;
}

#submit_btn:hover{
    background-color: rgb(109, 224, 109) ;
    border-width: 2px;
    border-color: darkgreen;
}

#reset_btn{
    background-color: rgb(223, 38, 38);
    border-color: darkred;
}

#reset_btn:hover{
    background-color: lightcoral ;
    border-width: 2px;
    border-color: darkred;
}

#cancel_btn{
    background-color: rgb(38, 124, 223);
    border-color: darkblue;
    border-width: 2px;
}

#cancel_btn:hover{
    background-color: rgb(128, 143, 228) ;
    border-width: 2px;
    border-color: darkblue;
}


footer{
    background-color: rgb(54, 51, 51);
    border: 2px solid rgb(54, 51, 51);
    margin-top: 10px;
    width: 100%;
    height: fit-content;
}

#foot_para{
    text-align: center;
    color: white;
}
